#header{
	padding: 20px 0;
	border-bottom: 1px solid #ebebeb;
}

#content{
	padding: 20px 10px;
	text-align: justify;
}

#content-body{
  display: flex;
  flex-direction: column;	
}

#content-body p img{
	margin: 0 20px;
}

.container{
	width: 1000px;
	margin: 0 auto;
}

#author-info{
	margin: 20px 0;
}

.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.img-fit{
	display: block;
    width: 100%;
}

footer{
	border-top: 1px solid #ebebeb;
	padding: 20px 10px;
}

footer a {
	color: #70726F;
	font-size: 20px;
	padding: 10px;
	border-right: 1px solid #70726F;
	transition: all .5s ease;
}
footer a:first-child {
	border-left: 1px solid #70726F;
}
.facebook-icon:hover {
	color: #3b5998;
}
.twitter-icon:hover {
	color: #1DA1F2;
}
.google-plus-icon:hover {
	color: #DB4437;
}
.linkedin-icon:hover{
	color: #0077B5;
}
.skype-icon:hover{
	color: #00AFF0;
}

